.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.btn-grey {
    background-color: #343a40;
    border-color: black;
}

.btn-grey:hover {
    background-color: black;
    border-color: white;
}

.wrongInputBorder {
    border-color: red;
    background-color: #ffc2b8;
}

.correctInputBorder {
    background-color: white;
}


.wrongInputBackground {
    background-color: #ffc2b8;
}

.wrongInputText {
    color: red;
    font-size: 0.7rem;
}

.wrongInputIcon {
    color: red;
}