.pad-20 {
    padding: 20px;
}

.carName {
    font-size: 2rem;
}

.price {
    letter-spacing: 4px;
    font-size: 1.5rem;
    text-align: center;
    background-color: #979aa0;
    border-radius: 0 25px;
}

.dates {
    font-size: 0.7rem;
}

.img-background {
    border: #343a40 solid 15px;
    width: 100%;
}

.upload-image {
    text-align: center;
    margin-top: 10px;
}

.file-upload {
    display: inline-block;
    text-align: center;
}

.file-upload .file-select {
    display: inline-block;
    border: 1px solid #343a40;
    border-radius: 0.25rem;
    cursor: pointer;
    height: 40px;
    line-height: 40px;
    text-align: left;
    background: #FFFFFF;
    overflow: hidden;
    position: relative;
}

.file-upload .file-submit {
    display: inline;
    cursor: pointer;
    height: 40px;
    line-height: 40px;
    text-align: left;
    background: #FFFFFF;
    overflow: hidden;
    position: relative;
}

.file-upload .file-select .file-select-button {
    background: #343a40;
    color: white;
    padding: 0 10px;
    display: inline-block;
    height: 40px;
    line-height: 40px;
}

.file-upload .file-submit .file-submit-button {
    background: #343a40;
    color: white;
    padding: 0 10px;
    display: inline-block;
    height: 40px;
    line-height: 40px;
}

.file-upload .file-select .file-select-name {
     line-height: 40px;
     display: inline-block;
     padding: 0 10px;
 }

.file-upload .file-submit .file-submit-name {
    line-height: 40px;
    display: inline-block;
    padding: 0 10px;
}

.file-upload .file-select:hover {
    border-color: black;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.file-upload .file-submit:hover {
    border-color: black;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.file-upload .file-select:hover .file-select-button {
    background: black;
    color: white;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.file-upload .file-submit:hover .file-submit-button {
    background: black;
    color: white;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.file-upload.active .file-select {
    border-color: #3fa46a;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.file-upload.active .file-submit {
    border-color: #3fa46a;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.file-upload.active .file-select .file-select-button {
    background: #3fa46a;
    color: #FFFFFF;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.file-upload.active .file-submit .file-submit-button {
    background: #3fa46a;
    color: #FFFFFF;
    transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}

.file-upload .file-select input[type=file] {
    z-index: 100;
    cursor: pointer;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    filter: alpha(opacity=0);
}

.file-upload .file-submit input[type=submit] {
    z-index: 100;
    cursor: pointer;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    filter: alpha(opacity = 0);
}

.file-upload .file-select.file-select-disabled {
    opacity: 0.65;
}

.file-upload .file-submit.file-submit-disabled {
    opacity: 0.65;
}

.file-upload .file-select.file-select-disabled:hover {
    display: inline-block;
    border: 1px solid white;
    border-radius: 0.25rem;
    color: black;
    cursor: pointer;
    height: 40px;
    line-height: 40px;
    margin-top: 5px;
    text-align: left;
    background: #FFFFFF;
    overflow: hidden;
    position: relative;
}

.file-upload .file-submit.file-submit-disabled:hover {
    display: inline-block;
    border: 1px solid white;
    border-radius: 0.25rem;
    color: black;
    cursor: pointer;
    height: 40px;
    line-height: 40px;
    margin-top: 5px;
    text-align: left;
    background: #FFFFFF;
    overflow: hidden;
    position: relative;
}

.file-upload .file-select.file-select-disabled:hover .file-select-button {
    background: #343a40;
    color: white;
    padding: 0 10px;
    display: inline-block;
    height: 40px;
    line-height: 40px;
}

.file-upload .file-submit.file-submit-disabled:hover .file-submit-button {
    background: #343a40;
    color: white;
    padding: 0 10px;
    display: inline-block;
    height: 40px;
    line-height: 40px;
}

.file-upload .file-select.file-select-disabled:hover .file-select-name {
    line-height: 40px;
    display: inline-block;
    padding: 0 10px;
}

.file-upload .file-submit.file-submit-disabled:hover .file-submit-name {
    line-height: 40px;
    display: inline-block;
    padding: 0 10px;
}