.pad-20 {
    padding: 20px;
}

.carName {
    font-size: 2rem;
}

.price {
    letter-spacing: 4px;
    font-size: 1.5rem;
    text-align: center;
    background-color: #979aa0;
    border-radius: 0 25px;
}

.dates {
    font-size: 0.7rem;
}

.img-background {
    border: #343a40 solid 15px;
    width: 100%;
}